<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <clear />
    <!--<add key="CodeCracker Unstable" value="https://www.myget.org/F/codecrackerbuild/api/v3/index.json" />-->
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!--<add key="roslyn-analyzers" value="https://dotnet.myget.org/F/roslyn-analyzers/api/v3/index.json" />-->
	
	<!-- <add key="roslyn-analyzers" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" /> -->
	<!-- <add key="newvs" value="https://proget.inedo.com/nuget/NuGetLibraries/v3/index.json" /> -->
    <!-- <add key="vs-impl-public" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json" protocolVersion="3" /> -->
    <!-- <add key="vssdk-public" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" protocolVersion="3" /> -->
  </activePackageSource>
  <packageSources>
    <clear />
    <!--<add key="CodeCracker Unstable" value="https://www.myget.org/F/codecrackerbuild/api/v3/index.json" />-->
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!--<add key="roslyn-analyzers" value="https://dotnet.myget.org/F/roslyn-analyzers/api/v3/index.json" />-->
	
	<!-- <add key="roslyn-analyzers" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" /> -->
	<!-- <add key="newvs" value="https://proget.inedo.com/nuget/NuGetLibraries/v3/index.json" /> -->
    <!-- <add key="vs-impl-public" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json" protocolVersion="3" /> -->
    <!-- <add key="vssdk-public" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" protocolVersion="3" /> -->
  </packageSources>
</configuration>